.form-horizontal {
    padding: 30%;
}
.col-sm-offset-2 {
    margin-left: 0 !important;
}
.form-control {
    background: #c0eefc;
    border: 2px solid #58a0c3;
    padding: 10px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    font-size: 14px;
    text-shadow: 1px 1px 0 white;
    transition: 1s;
}
.form-control-static {
    display: none;
}

.form-control.error {
  background: #ff8686;
  border: 2px solid #cc2e2e;
  text-shadow: 1px 1px 0 #b59b9b;
}
